<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.ex03.mapper.NoticeBoardMapper">
	
	<!-- 글 작성 -->
	<insert id ="insertBoard" parameterType="NoticeBoardVO">
		INSERT INTO 
			NOTICE_BOARD (id, category, title, content, writer) 
		VALUES(notice_board_seq.nextval, #{category}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="listCategory" resultType="CategoryVO">
		SELECT id, name
		FROM CATEGORY
	</select>
	
	<select id="listNotice" parameterType="HashMap" resultType="NoticeBoardVO">
		SELECT id, category, title, content, hit, regdate, writer
		FROM NOTICE_BOARD
		WHERE 
	</select>
	
	<select id="detailNotice" parameterType="int" resultType="NoticeBoardVO">
	</select>
	
	
</mapper>