<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.ex03.mapper.NoticeBoardMapper">
	<!-- 글 작성 -->
	<insert id ="insertBoard" parameterType="NoticeBoardVO">
		<selectKey keyProperty="id" resultType="int" order="BEFORE">
			SELECT notice_board_seq.nextval FROM DUAL
		</selectKey>
		INSERT INTO 
			NOTICE_BOARD (id, category, title, content, writer) 
		VALUES(#{id}, #{category}, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id ="insertFile" parameterType="NoticeFileVO">
		INSERT INTO 
			NOTICE_FILE (id, notice_id, org_name, save_name, file_size, file_type) 
		VALUES(notice_file_seq.nextval, #{notice_id}, #{org_name}, #{save_name}, #{file_size}, #{file_type})
	</insert>
	
	<update id ="modifyBoard" parameterType="NoticeBoardVO">
		UPDATE NOTICE_BOARD
		SET category = #{category}, title = #{title}, content = #{content}
		WHERE id = #{id}
	</update>
	
	<select id="listCategory" resultType="CategoryVO">
		SELECT id, name
		FROM CATEGORY
	</select>
	
	<select id="listNotice" parameterType="HashMap" resultType="HashMap">
	<![CDATA[	
		SELECT id, category, title, hit, REGDATE, writer, name
		FROM(
	        SELECT 
	            ROWNUM AS RNUM, b.*
	        FROM (
	        	SELECT n.id, n.category, n.title, n.hit, n.REGDATE, n.writer, m.name
	            FROM NOTICE_BOARD n
	            INNER JOIN MEMBER m
	            ON n.writer = m.id
	 ]]>
	            <if test="category != null">
	            INNER JOIN CATEGORY c
	            ON n.category = c.id
	            WHERE c.name = #{category}
	            </if>
	            ORDER BY n.id desc
	 <![CDATA[
	        ) b
	        WHERE
	            ROWNUM <= #{last_board}
    	) board
		WHERE #{start_board} <= RNUM
	]]>
	</select>
	
	<select id="detailNotice" parameterType="int" resultType="HashMap">
		select board.id id, category, title, content, hit, REGDATE, writer, name
		from NOTICE_BOARD board, (select id, name from MEMBER) m
		where board.writer = m.id
		and board.id = #{id}
	</select>
	
	<select id="noticeFileList" parameterType="int" resultType="NoticeFileVO">
		SELECT *
		FROM NOTICE_FILE
		WHERE notice_id = #{id}
	</select>
	
	<update id="hit" parameterType="int">
	 	UPDATE NOTICE_BOARD
		SET hit = hit + 1
		WHERE id = #{id}
	</update>
	
	<select id="boardCnt" parameterType="String" resultType="int">
		SELECT count(*)
		FROM NOTICE_BOARD n JOIN CATEGORY c
		ON n.category = c.id
		<if test="value != null">
			WHERE c.name = #{value}
		</if>
	</select>
	
</mapper>