<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.ex03.mapper.NoticeBoardMapper">
	<!-- 글 작성 -->
	<insert id ="insertBoard" parameterType="NoticeBoardVO">
		INSERT INTO 
			NOTICE_BOARD (id, category, title, content, writer) 
		VALUES(notice_board_seq.nextval, #{category}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="listCategory" resultType="CategoryVO">
		SELECT id, name
		FROM CATEGORY
	</select>
	
	<select id="listNotice" parameterType="HashMap" resultType="HashMap">
	<![CDATA[	
		SELECT id, category, title, hit, REGDATE, writer, name
		FROM(
	        SELECT 
	            ROWNUM AS RNUM, b.*
	        FROM (
	        	SELECT n.id, n.category, n.title, n.hit, n.REGDATE, n.writer, m.name
	            FROM NOTICE_BOARD n
	            INNER JOIN MEMBER m
	            ON n.writer = m.id
	 ]]>
	            <if test="category != null">
	            INNER JOIN CATEGORY c
	            ON n.category = c.id
	            WHERE c.name = #{category}
	            </if>
	            ORDER BY n.id desc
	 <![CDATA[
	        ) b
	        WHERE
	            ROWNUM <= #{last_board}
    	) board
		WHERE #{start_board} <= RNUM
	]]>
	</select>
	
	<select id="detailNotice" parameterType="int" resultType="HashMap">
		SELECT b.id board_num, category, title, content, hit, REGDATE, writer, name
		FROM NOTICE_BOARD b, (select id, name from MEMBER) m
		WHERE b.writer = m.id
		AND b.id = #{id}
	</select>
	
	<update id="hit" parameterType="int">
	 	UPDATE NOTICE_BOARD
		SET hit = hit + 1
		WHERE id = #{id}
	</update>
	
	<select id="boardCnt" parameterType="String" resultType="int">
		SELECT count(*)
		FROM NOTICE_BOARD n JOIN CATEGORY c
		ON n.category = c.id
		<if test="value != null">
			WHERE c.name = #{value}
		</if>
	</select>
	
</mapper>